* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}

.todo-container {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.todo-container__header {
    font-size: 24px;
    margin-bottom: 16px;
}

.todo-container__form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.todo-container__input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.todo-container__button {
    background-color: rgb(69, 206, 244);
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.todo-container__button:hover {
    background-color: rgb(167, 210, 247);
}

.render-container__title {
    font-size: 14px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
}

.render-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
}

.render-container__section {
    flex: 1;
    width: 100%;
    text-align: left;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.render-container__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.render-container__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 6px;
    margin-bottom: 6px;
    width: 100%;
}

.render-container__item-text {
    flex: 1;
}

.render-container__item-button {
    background-color: brown;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.render-container__item-button:hover {
    background-color: rgb(163, 91, 91);
}